.gnome-typeface {
    font-family: "Ubuntu", system-ui, sans-serif;
}

.gnome-typeface.heading {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    color: var(--gnome-color-dark-5);
}

.gnome-typeface.body {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: var(--gnome-color-dark-5);
}